.footer{
  background: #000000;
  color:#F7F7F7;
  h4,a,p,h6{
    color:#F7F7F7;
  }
  p{
    font-size:14px;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  ul{
    padding-left: 0;
  }

}
p{
  margin-bottom:14px;
}
.brand-description{
  p{
    margin: 3px 0;
    font-size:12px;
  }
  h6{
    vertical-align: middle;
  }
}
.social{
  li{
    margin-bottom:14px;
  }
  a{
    margin-left:5px;
  }
}
