<div class="container-fluid footer p-0">
    <div class="container p-0 py-md-4">
        <div class="row m-0">
            <div class="d-none d-md-block col-6 col-sm-6 col-md-3 col-sm-6 col-lg-2 col-xl-3  py-md-4 px-md-0  pt-md-0 pl-md-0">
                <div class="text-left brand-description">
                    <img  src="../../../assets/images/grey-logo.png">
                    <h6 class="d-inline pl-1">Cronex</h6>
                  <p class="pt-2 mb-0">
                    A digital asset trading service. It is a type of exchange through which users can transact in different digital currencies around the world.
                  </p>
                  <p class="pt-1">
                   2019
                  </p>
                </div>
            </div>
            <div class="col-6 offset-md-1 col-md-2 col-lg-2 col-xl-2 py-4 py-md-4 px-md-0  pt-5 pl-lg-5">
                <ul class="pl-md-0">
                    <h6>{{'footer.Company' | translate}}</h6>
                  <li><a href="mailto: test-project.io"><p>Crontech.io</p></a></li>
                  <li><a href="mailto: test-project.io"><p>Get in Touch</p></a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 py-md-4 px-md-0  pt-5">
                <ul>
                    <h6 routerLink="/">{{'footer.Support' | translate}}</h6>
                  <li><a [routerLink]="['/support']"><p>{{'footer.FAQ' | translate}}</p></a></li>
                  <li><a [routerLink]="['/support']"><p>{{'footer.What is bitcoin' | translate}}</p></a></li>
                  <li><a [routerLink]="['/support']"><p>{{'footer.How to buy crypto' | translate}}</p></a></li>
                  <li><a [routerLink]="['/support']"><p>{{'footer.How to sell crypto' | translate}}</p></a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 col-lg-2 col-xl-2  py-md-4 px-md-0  pt-5">
                <ul>
                    <h6>{{'footer.Legal' | translate}}</h6>
                  <li><a [routerLink]="['/subfooter/feeshedule'] "><p>{{'footer.Fee Schedule' | translate}}</p></a></li>
                  <li><a [routerLink]="['/subfooter/termsofuser'] "><p>{{'footer.Terms Of Use' | translate}}</p></a></li>
                  <li><a [routerLink]="['/subfooter/privacypolicy'] "><p>{{'footer.Privacy Policy' | translate}}</p></a></li>
                  <li><a [routerLink]="['/subfooter/amlpolicy'] "><p>{{'footer.AML Policy' | translate}}</p></a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2  col-lg-2 col-xl-2  py-md-4 px-md-0  pt-5 social">
                <ul>
                    <h6>{{'footer.Social' | translate}}</h6>
                    <li>
                      <img src="../../../assets/images/social/linkedin.svg">
                      <a class="social" href="#" target="_blank">Linkedin
                    </a>
                    </li>
                  <li>

                    <img src="../../../assets/images/social/behance.svg">
                    <a class="social" href="#" target="_blank">Behance
                    </a>
                  </li>
                  <li>
                    <img src="../../../assets/images/social/telegram.svg">
                    <a class="social" href="#" target="_blank">Telegram
                    </a>
                  </li>
                  <li>
                    <img src="../../../assets/images/social/whatsapp.svg">
                    <a class="social" href="#" target="_blank">WhatsApp
                    </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
